*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.keystore
*.jks

# iOS
xcuserdata/
*.xcuserstate
DerivedData/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
.swiftpm/
Pods/
